<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/background.css">
</head>
<body>
<div class="content2" style=" height: 800px; padding-top: 80px; ">

  <form style="width:400px; margin:0px auto; " method="post">
    <div class="mb-3" style="padding-top: 200px auto;">
      <label for=novel_title_id" class="form-label" style="color: white;">小说名字</label>
      <input type="text" class="form-control" id="novel_title_id" aria-describedby="emailHelp"
      name="novel_title" placeholder="小说标题">
    </div>
    <div class="mb-3">
      <label for="novel_intro_id" class="form-label" style="color: white;">小说简介</label>
      <input type="text" class="form-control" id="novel_intro_id"
      name="novel_introduce" placeholder="小说介绍">
    </div>
    <button type="submit" class="btn btn-primary">提交</button>

  </form>
</div>
</body>
</html>