<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
<form style="width:400px; margin:100px auto;" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">用户账号</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    name="username"
    >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">密码</label>
    <input type="password" class="form-control" id="exampleInputPassword1"
    name="password"
    >
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>
</body>
</html>