<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/background.css">
</head>
<body>


<form style="width:400px; margin:100px auto;" method="post">
  <div class="mb-3">
    <label for="chapter_title" class="form-label">章节标题</label>
    <input type="text" class="form-control" id="chapter_title" aria-describedby="emailHelp"
    name="new_chapter_title"
    >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">内容</label>
    <textarea  class="form-control" id="exampleInputPassword1"
    name="new_chapter_content"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>

</form>

</body>
</html>